<template>
  <div class="container" id="container-about">
    <div>
      <h1>Emperor of Nebula</h1>
      A Nebulas contract, living on the blockchain, that will make you an Emperor or Empress, might grant you riches, and will immortalize your name.
      <h3>Long live the Emperor {{ emperor.name }}!</h3>
      The Emperor Throne awaits you. It can be yours for a price - here are the contract rules:
      <ul>
        <li>Suppose the current throne claim price is 1 NAS.</li>
        <li>You like the sound of being the Emperor, so you send 1 NAS to the contract.</li>
        <li>This makes you the illustrious new Emperor of the Nebula. Your name will be added to the Hall of Emperors in the blockchain.</li>
        <li>The contract will then send your 1 NAS (less a small commission) to the previous Emperor you have usurped, as compensation.</li>
        <li>The claim price for the throne will then go up by 30%, to 1.3 NAS.</li>
        <li>If an usurper comes along who is willing to pay 1.3 NAS, he will depose you and become Emperor, and you will receive his payment of 1.3 NAS (less a small commission) as compensation - a tidy profit for you.</li>
        <li>However, every Emperor retires once their reign reaches 14 days. No compensation is paid if this happens, and the claim price for the next monarch is reset back to the original starting price of 0.1 NAS. But surely a successor will appear within 14 days, and even if they don't, you'll be immortalised in the blockchain at least</li>
      </ul>
    </div>
    <div>
      <h3>Become new Emperor</h3>
      <div class="container">
        <div class="row">
          <form>
            <div class="form-group">
              <label for="inputName">Your name</label>
              <input
                type="text"
                class="form-control"
                id="inputName"
                placeholder="Enter your name"
                v-model="nickname"
                :class="{ 'is-invalid': attemptSubmit && (nickname == '') }">
              <div class="invalid-feedback">This field is required.</div>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              @click="claim">
                Claim the Throne Now for just {{ convertPrice(price) }} NAS
            </button>
          </form>
        </div>
        <div class="row" id="contract">
          <a href="https://explorer.nebulas.io/#/tx/66b62a91c1cceb75e31a7617618a17b6b5e7a2994ff3234380dd1c10d65ea902" target="_blank">Contract</a>
        </div>
      </div>
    </div>
    <div>
      <h3>Hall of Emperors</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="d-none d-sm-table-cell">Address</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tr v-for='(emperor, index) in emperors' :key='index' >
          <td>{{ emperor.name }}</td>
          <td class="d-none d-sm-table-cell">{{ emperor.address }}</td>
          <td>{{ new Date(emperor.date).toLocaleDateString() }}</td>
          <td>{{ convertPrice(emperor.price) }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import NebPay from 'nebpay';
import SmartContract from '../lib/contract';

const dapp = 'n1k7EreErJHBDp5Cvyw1UooQ8uDhgfQe93Z';

const smartContract = new SmartContract.SmartContract(dapp);
const nebPay = new NebPay();

export default {
  name: 'About',
  data() {
    return {
      title: 'Emperor of Nebula',
      emperor:
        { name: 'Vacant', address: '1nxxxx', date: '1526820610', price: '10.00' },
      emperors: [],
      price: 0,
      nickname: '',
      attemptSubmit: false,
    };
  },
  created() {
    smartContract.check('getCurrentEmperor', [], (res) => {
      if (res) {
        this.emperor = res;
      }
    });
    smartContract.check('getPastEmperors', [], (res) => {
      this.emperors = res;
    });
    smartContract.check('getCurrentClaimPrice', [], (res) => {
      this.price = res;
    });
  },
  methods: {
    convertPrice(n) {
      return Number.parseFloat(n / 1000000000000000000).toFixed(8);
    },
    claim() {
      const to = dapp;
      const callFunction = 'claimThrone';
      const callArgs = JSON.stringify([this.nickname]);
      const value = this.convertPrice(this.price);
      this.attemptSubmit = true;
      if (this.nickname) {
        nebPay.call(to, value, callFunction, callArgs, {});
      }
    },
  },
};
</script>

<style>
#container-about {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
}
#contract {
  margin-top: 20px;
}
h1, h2, h3 {
  margin-top: 60px;
  margin-bottom: 60px;
}
</style>
