<template>
  <div class="container" id="container-hall">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tr v-for='emperror in emperrors'>
          <td>{{ emperror.name }}</td>
          <td>{{ new Date(emperror.date * 1000).toLocaleDateString() }}</td>
          <td>{{ emperror.price }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hall',
  data() {
    return {
      title: 'Hall of fame',
      emperrors: [
        { name: 'Harold the brave', date: '1526820610', price: '10.00' },
        { name: 'Swageetr', date: '1526820210', price: '5.00' },
      ],
    };
  },
};
</script>
